*{
    font-family: 'Montserrat';
}
/*Action Buttons*/
.action{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
#add_bus_btn{
    height: 36px;
    width: 15%;
    margin-left: 85%;
    border: solid lightgray 2px;
    border-radius: 40px;
    color:  gray;
    background-color: transparent;
}
#add_bus_btn:hover{
    background-color: lightgray;
    color: white;
}
/* Grid Views */
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(398px, auto);
    grid-column-gap: 1em;
    grid-row-gap: 0;
}
.content >div{
    background: #EAEBED;
    color: gray;
    font-size: 21px;
    border-radius: 40px;
    border: solid lightgray 2px;
    text-align: center;
}
.class1{
    grid-column: 1/2;
}
.class2{
    grid-column: 2/3;
}
.class3{
    grid-column: 3/4;
}
/* PopUp Bus CRUD */
.popup_bus_bg{
    width: 99.1%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_bus{
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    text-align: none;
    padding: 20px;
    position: relative;
}
form{
    margin-top: 25px;
    align-items: center;
}
.form_name{
    position: absolute;
    top: 0;
    left: 14px;
    font-size: 30px;
    padding: 10px;
}
.form_close_btn{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.attribute_list{
    margin-top: 10%;
}
.attribute_section{
    height: 50px;
    width: 100%;
    display: block;
    margin-top: 20px;
}
.attribute_name{
    width: 25%;
    height: 98%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    margin-top: 0;
    border: solid lightgray 2px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.attribute_bus{
    align-self: center;
    display: inline-block;
    width: 71.3%;
    height: 98%;
    padding: 0;
    text-align: center;
    text-decoration: none;
    border: solid lightgray 2px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    outline: none;
}
.attribute_route_bus{
    align-self: center;
    display: inline-block;
    width: 17%;
    height: 98%;
    margin-right: 2px;
    line-height: 80px;
    text-decoration: none;
    border: solid lightgray 2px;
    text-align: center;
}
#attribute_bus_time{
    margin: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.indicators_section{
    width: 50%;
    height: 98%;
    display:inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    margin-top: 0;
}
.indicators_btn{
    height: 100%;
    width: 32%;
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
    border: solid lightgray 2px;
    background-color: transparent;
    float: left;
    outline: none;
}
#in_service_bus_btn{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
#out_of_service_bus_btn{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
#in_service_bus_btn:hover{
    border: solid yellow 2px;
    color: yellow;
}
#out_of_service_bus_btn:hover{
    border: solid red 2px;
    color: red;
}
#available_bus_btn:hover{
    border: solid green 2px;
    color: green;
}
.save_btn{
    float: right;
    height: 100%;
    width: 25%;
    border-radius: 40px;
    border: solid lightgray 2px;
    background-color: transparent;
}
.save_btn:hover{
    background-color: lightgray;
    color: white;
}