<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<title>Buses</title>
</head>
<header>
    <app-descripcion></app-descripcion>
    <app-nav></app-nav>
</header>
<body>
    <div class="action">
        <button id="add_bus_btn">Add</button>
    </div>
    <div class="content">
        <div class="class1">
            <p>Bus Normal</p>
        </div>
        <div class="class2">
            <p>Bus Cama</p>
        </div>
        <div class="class3">
            <p>Bus Leito</p>
        </div>
    </div>
    <div class="popup_bus_bg">
        <div class="popup_bus">
            <form action="">
                <div class="form_name">Buses</div>
                <div class="form_close_btn" id="bus_close_btn">+</div>
                <div class="attribute_list">
                    <div class="attribute_section">
                        <div class="attribute_name">Name</div>
                        <input type="text" class="attribute_bus" id="">
                    </div>
                    <div class="attribute_section">
                        <div class="attribute_name">Class</div>
                        <select class="attribute_bus" id="">
                            <option value="bus_default">Default</option>
                            <option value="bus_normal">Bus Normal</option>
                            <option value="bus_cama">Bus Cama</option>
                            <option value="bus_leito">Bus Leito</option>                    
                        </select>
                    </div>
                    <div class="attribute_section">
                        <div class="attribute_name">Capacity</div>
                        <input type="number" class="attribute_bus" id="" min="1">
                    </div>
                    <div class="attribute_section">
                        <div class="attribute_name">Route</div>
                        <input type="text" class="attribute_route_bus" id="attribute_bus_origin" placeholder="Origin" disabled>
                        <input type="text" class="attribute_route_bus" id="attribute_bus_destination" placeholder="Destination" disabled>
                        <input type="text" class="attribute_route_bus" id="attribute_bus_day"
                        placeholder="Day" disabled>
                        <input type="text" 
                        class="attribute_route_bus" id="attribute_bus_time" placeholder="00:00" disabled>
                    </div>
                    <div class="attribute_section">
                        <div class="attribute_name">Price</div>
                        <input type="number" class="attribute_bus" id="" min="0">
                    </div>
                    <div class="attribute_section">
                        <div class="attribute_name">Reserved</div>
                        <input type="number" name="" class="attribute_bus" id="" placeholder="0" min="0" disabled>
                    </div>
                    <div class="attribute_section">
                        <div class="indicators_section">
                            <button class="indicators_btn" id="in_service_bus_btn">In Service</button>      
                            <button class="indicators_btn" id="available_bus_btn">Available</button>      
                            <button
                            class="indicators_btn" id="out_of_service_bus_btn">Out of Service</button> 
                        </div>
                        <button class="save_btn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="bus.js"></script>
</html> 
