*{
    font-family: 'Montserrat';
}
/* PopUp Activate Button*/ 
.action{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#add_route_btn{
    height: 36px;
    width: 15%;
    border: solid lightgray 2px;
    border-radius: 40px;
    background-color: transparent;
    color: gray;
    float: right;
}
#add_category_btn{
    height: 36px;
    width: 15%;
    border: solid lightgray 2px;
    border-radius: 40px;
    background-color: transparent;
    color: gray;
}
#add_category_btn:hover{
    background-color: lightgray;
    color: white;
}
#add_route_btn:hover{
    background-color: lightgray;
    color: white;
}
/* Grid View Section*/
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(272px, auto);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.content >div{
    background-color: #EAEBED;
    border: solid lightgray 2px;
    text-align: center;
    color: gray;
    font-size: 21px;
}

.cate1{
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 40px;
}
.cate2{
    grid-column: 2;
    grid-row: 1;
}
.cate3{
    grid-column: 3;
    grid-row: 1;
    border-top-right-radius: 40px;
}
.cate4{
    grid-column: 1;
    grid-row: 2;
}
.cate5{
    grid-column: 2;
    grid-row: 2;
}
.cate6{
    grid-column: 3;
    grid-row: 2;
}
.cate7{
    grid-column: 1;
    grid-row: 3;
    border-bottom-left-radius: 40px;
}
.cate8{
    grid-column: 2;
    grid-row: 3;
}
.cate9{
    grid-column: 3;
    grid-row: 3;
    border-bottom-right-radius: 40px;
}
/*Popup Section*/
.popup_route_bg/*, .popup_route_list_bg, .popup_category_bg*/{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_route_form, .popup_route_list, .popup_category_form{
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.form_name{
    position: absolute;
    top: 0;
    left: 14px;
    font-size: 30px;
    padding: 10px;
}
.form_close_btn{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.attribute_list{
    margin-top: 8%;
}
.attribute_section{
    height: 50px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}
/*POP Route CRUD*/
.attribute_name{
    width: 25%;
    height: 98%;
    display:block;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    margin-top: 0;
    border: solid lightgray 2px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.attribute_route{
    align-self: center;
    display: inline-block;
    width: 71.3%;
    height: 98%;
    padding: 0;
    text-align: center;
    border: solid lightgray 2px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    outline: none;
}
.attribute_route_dt{
    width: 35%;
    text-align: center;
    outline: none;
    border: solid lightgray 2px;
}
#attribute_route_date{
    height: 93%;
    margin-right: 5px;
    text-transform: uppercase;
}
#attribute_route_day{
    height: 105%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.route_indicators_btn{
    width: 50%;
    height: 98%;
    display:flex;
}
.indicators_btn {
    height: 100%;
    width: 40%;
    position: relative;
    border: solid lightgray 2px;
    background-color: transparent;

}
#enable_route_btn{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 5px;
}
#disable_route_btn{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
#save_route_btn{
    margin-left: 57px;
    border-radius: 40px;
}
#enable_route_btn:hover{
    border: solid green 2px;
    color: green;
    transition: 0.3s;
}
#disable_route_btn:hover{
    border: solid red 2px;
    color: red;
    transition: 0.3s;
}
#save_route_btn:hover{
    background-color: lightgray;
    color: white;
    border: none;
    transition: 0.3s;
}
/*POPup Route List*/
.route_list_search{
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}
.route_list_search_item{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: solid lightgrey 2px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: transparent;
}
/* POPup Catergory List*/
.category_list_section{
    min-height:200px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.attribute_addition{
    display: flex;
}
.category_addition_attribute{
    width: 33%;
    border: solid lightgray 2px;
    background-color: transparent;
    text-align: center;
    outline: none;
}
#category_addition_name{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 2px;
}
#category_addition_btn{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 2px;
}
#category_addition_btn:hover{
    color: white;
    background-color: lightgray;
    transition: 0.3s;
}
.category_modification{
    width: 25%;
    margin-left: 15%;
    display: flex;
}
#save_category_btn{
    width: 100%;
    background-color: transparent;
    border: solid lightgray 2px;
    border-radius: 40px;
}
#save_category_btn:hover{
    background-color: lightgray;
    color: white;
    transition: 0.3s;
}