<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<title>Date/Time/Price</title>
</head>
<header>
    <app-descripcion></app-descripcion>
    <app-nav></app-nav>
</header>
<body>
    <div class="action">
        <input type="date" name="" class="search_general">
        <button id="add_dtp_btn">Add</button>
    </div>
    <div class="content">
        <div class="date">
            <p>Specific Date</p>
        </div>
        <div class="today">
            <p>Today</p>
        </div>
        <div class="tomorrow">
            <p>Tomorrow</p>
        </div>
    </div>
    <div class="popup_dtp_bg">
        <div class="popup_dtp">
            <form action="">
                <div class="form_name">Assign Time</div>
                <div class="form_close_btn" id="dtp_close_btn">+</div>
                <div class="attribute_list">
                    <div class="attribute_section">
                        <input type="date" class="attribute_search_dtp" id="attribute_search_dtp_date" placeholder="Search Date">
                        <select class="attribute_search_dtp" id="attribute_search_dtp_route" placeholder="Orgin-Destination">
                            
                        </select>
                    </div>
                    <div class="attribute_section">
                        <table>

                        </table>
                    </div>
                    <div class="attribute_section">
                        <div class="addition_dtp_section">
                            <select class="addition_attribute" id="addition_dtp_day" placeholder="Day">
                                <option value="monday">Mon</option>
                                <option value="tuesday">Tue</option>
                                <option value="wednesday">Wed</option>
                                <option value="thursday">Thu</option>
                                <option value="friday">Fri</option>
                                <option value="saturday">Sat</option>
                                <option value="sunday">Sun</option>
                            </select>
                            <input type="number" class="addition_attribute" id="addition_dtp_time" placeholder="00:00" min="0">
                            <input type="text" 
                            class="addition_attribute" 
                            id="addition_dtp_price" placeholder="000 bs">
                            <button id="addition_dtp_btn">+</button>
                        </div>
                        <button id="dtp_save_btn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="price.js"></script>
</html> 
