*{
    font-family: 'Montserrat';
}
.action{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.search_general{
    height: 30px;
    width: 15%;
    color: gray;
    border: solid lightgray 2px;
    border-radius: 40px;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
#add_dtp_btn{
    height: 36px;
    width: 15%;
    color: gray;
    background-color: transparent;
    border: solid lightgray 2px;
    border-radius: 40px;
    float: right;
}
#add_dtp_btn:hover{
    background-color: lightgray;
    color: white;
}
.search_general:hover{
    background-color: lightgray;
    color: white;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(398px, auto);
    grid-column-gap: 1em;
}
.content >div{
    background-color: #EAEBED;
    text-align: center;
    border-radius: 40px;
    border: solid lightgray 2px;
    font-size: 21px;
    color: gray;
}
.date{
    grid-column: 1;
}
.today{
    grid-column: 2;
}
.tomrrow{
    grid-column: 3;
}
/* Route DTP List */
.popup_dtp_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup_dtp{
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    position: relative;
}
.form_name{
    position: absolute;
    top: 0;
    left: 14px;
    font-size: 30px;
    padding: 10px;
}
.form_close_btn{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.attribute_list{
    margin: 10%;
}
.attribute_section{
    height: 50px;
    width: 100%;
    display: block;
    margin-top: 20px;

}
.attribute_search_dtp{
    width: 25%;
    border: solid lightgrey 2px;
    background-color: transparent;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#attribute_search_dtp_date{
    height: 89%;
    float: left;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
#attribute_search_dtp_route{
    height: 100%;
    float: right;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.addition_dtp_section{
    width: 60%;
    height: 100%;
    display: inline-block;
}
.addition_attribute{
    width: 24.4%;
    margin:0;
    text-align: center;
    float: left;
    margin-right: 2px;
    border: solid lightgrey 2px;
    background-color: transparent;
}
#addition_dtp_day{
    height: 104%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
#addition_dtp_time, #addition_dtp_price{
    height: 92%;
    outline: none;
}
#addition_dtp_btn{
    height: 104%;
    width: 21.3%;
    float: right;
    border: solid lightgrey 2px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: transparent;
}
#addition_dtp_btn:hover{
    background-color: lightgrey;
    color: white;
}
#dtp_save_btn{
    float: right;
    height: 100%;
    width: 25%;
    border: solid lightgrey 2px;
    border-radius: 40px;
    background-color: transparent;
}
#dtp_save_btn:hover{
    background-color: lightgrey;
    color: white;
}
