<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
  <title>Login</title>
</head>
<body>
  <div class="form">
    <div class="container">
      <div class="attribute_label">Username</div>
      <input type="text" name="" id="username_input">
    </div>
    <div class="container">
      <div class="attribute_label">Password</div>
      <input type="password" name="" id="password_input">
    </div>
    <div class="container">
      <button>Login</button>
    </div>
  </div>
  
</body>
</html>

<router-outlet></router-outlet>